doctype html
html(lang="en")
  head
    include ../../components/header/headbasic.pug
  body(data-barba='wrapper')
    .container(data-barba='container' data-barba-namespace='about')
      include ../../components/header/header.pug
      main
        .about-hero
        .content-wrapper
          .our-story
            h6 Our Story
            p.content 
          .our-services
            h6 Our services and benefits
            p.content 
          .our-mission
            h6 Our mission
            p.content 
      include ../../components/footer/footer.pug