doctype html
html(lang="en")
  head
    include components/headbasic.pug
  body(data-barba='wrapper')
    .container(data-barba='container' data-barba-namespace='about')
      include components/header.pug
      main
        .about-hero
        .content-wrapper
          .our-story
            h6 Our Story
            p I am Abdelhalim Kotb and I have gradated of Agricultural College in Biotechnology division. What’s more, we are a group of friends have graduated from Agricultural College in 2019. Even we have the same Idea which is create an organic farm so we decided to begin it with small scale and do more trial to get a great products of fresh chicken, vegetables, Honey and organic Egg.In 2020, following the revolution, Abdelhalim decided to start implementing organic agriculture on an unused piece of land that belonged to his family. Over the next few years,Abdelhalim and his team engineers patiently built up the soil and planted a wide range of vegetables and herbs. What started out as selling a few kilos of pesticide free cucumbers at the local farmers market in Damanhur city and so we decided to create an organic food company.
          .our-services
            h6 Our services and benefits
            p Today HellOrganics Food delivers to customers, retailers and the best hotels across Egypt. With the bold ambition of making clean and nutritious food accessible to all, the company sources both from its own 3 acre farm as well as from small farmers across the country that follow the company’s guidelines for responsible and sustainable growing. The company sells under brand, HellOrganics Food which is seeking to get certified organic by the European Council for Organic, grown using low input, regenerative farming methods.
          .our-mission
            h6 Our mission
            p We believe you should know your food, where it comes from and who grows it. We deliver organic produce and premium, pesticide free fruits and vegetables straight from the source to your home.The company’s flagship product is the weekly box which is delivered directly to customers homes., customers that sign up receive a selection of fresh vegetables, fruits and herbs, that will vary along with the seasons, specially curated by the team and accompanied with recipes and tips, to guide people on how to use seasonal produce. As the first farm-to-table delivery service in Egypt, Hellorganics Food was a pioneer in the local food movement by reconnecting people to their food and where it comes from.Above all, Hellorganics Food aspires to be a hub for good food in Egypt and a community where like-minded individuals can connect over their passion for sustainable, healthy and happy living. In this spirit, Hellrganics Food regularly invites its customers to come to its flagship farm to participate in a variety of unique events that range from open day picnics and chef’s tables to seasonal harvests and wellness retreats. Its own team of dedicated staff members include people from all walks of life united by a common passion for local, sustainable and healthy food.
      include components/footer/footer.pug