doctype html
html(lang="en")
  head
    include components/headbasic.pug
  body(data-barba='wrapper')
    .container(data-barba='container' data-barba-namespace='about')
      include components/header.pug
      main
        .about-hero
          h1 About Us
        .content-wrapper
          p.about. 
            #[span Hello Organic] is a company, which cherishes nature as one of our most valuable goods. We maintain the integrity of a valuable ecosystem, through ecological and organic production, while meeting consumers demand for healthy, tasty and more nutritious food.
      include components/footer/footer.pug