doctype html
html(lang="en")
  head
    include components/headbasic.pug
  body(data-barba='wrapper')
      include components/header.pug
      main
        h3 this cart page
      include components/footer/footer.pug