doctype html
html(lang="en")
  head
    include includes/headbasic.pug
  body(data-barba='wrapper')
    main(data-barba='container' data-barba-namespace='contact')
      include includes/header.pug
      h1 contact page