doctype html
html(lang="en")
  head
    include components/headbasic.pug
  body(data-barba='wrapper')
  .container(data-barba='container' data-barba-namespace='products')
    include components/header.pug
    main
      h1 product page
    include components/footer/footer.pug