doctype html
html(lang="en")
  head
    include components/headbasic.pug
  body(data-barba='wrapper')
    main(data-barba='container' data-barba-namespace='shipping')
      .content
        include components/header.pug
      h1 shipping page