doctype html
html(lang="en")
  head
    include components/headbasic.pug
  body(data-barba='wrapper')
    include components/header.pug
    main(data-barba='container' data-barba-namespace='shipping')
      .shipping-hero
      .shipping-content
        p We deliver to each area tow days a week, as it’s the most efficient way to get farm-to-home produce with the least amount of emissions.
        p Your box will be delivered between 11:00 am and 7:00 pm on:
      h1 Our delivery daily schedule
      .cont
        .day Saturday
        .regions
          span Alexandria
      .cont
        .day sunday
        .regions
          span Alexandria
      .cont
        .day Monday
        .regions
          span Madinaty
          span 6 October 
          span Al Rehab
          span Settlement 
      .cont
        .day Tuesday
        .regions
          span Madinaty
          span 6 October 
          span Al Rehab
          span Settlement 
      .cont
        .day Wednesday
        .regions
          span Helwan
          span Giza
      .cont
        .day Thursday
        .regions
          span Helwan
          span Giza
      .cont
        .day Friday
        .regions



    include components/footer/footer.pug